extends admin-layout

block content
    div.col-lg-12
        div.card
            div.card-header.d-flex.align-items-center
                h3.h4 Редагування категорії
            div.card-body
                form(method="POST" action="/adminpanel/categories/edit")
                    input(type="hidden" name="id" value= category._id)
                    div.form-group
                        label.form-control-label Назва
                        input(type="text" name="title" required value= category.title).form-control
                    div.form-group
                        input(type="submit" value="Зберегти зміни").btn.btn-primary