div.widget.latest-posts
	header
		h3.h6 Останні новини
	div.blog-posts
		each post in latestPosts
			a(title= post.title href="/posts/id/" + post._id)
				div.item.d-flex.align-items-center
					div.image
						if post.images.length > 0
							img(src="" + post.images[0]).img-fluid
						else
							img(src="/img/news.png").img-fluid
					div.title
						strong= post.title
						div.d-flex.align-items-center
							div.comments
								i.icon-comment
								.
									#{post.comments.length}