html
	head
		title #{title}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="robots" content="all,follow")
		link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/fontastic.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")
		link(rel="stylesheet" href="/fancybox/jquery.fancybox.min.css")
		//link(rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css")
		link(rel="stylesheet" href="/css/style.blue.css" id="theme-stylesheet")
		link(rel="stylesheet" href="/css/custom.css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet")
		link(rel="stylesheet" href="/css/parallaxer.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css")
		link(rel="stylesheet" href="/css/dropzone.css")
		if css
			link(href="" + css rel="stylesheet")
		script(src="/jquery/jquery.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js")
		script(src="/js/prllx.js")
		script(src="/js/masonry.js")
	body
		header.header
			nav.navbar.navbar-expand-lg.sticky-top
				div.search-area
					div.search-area-inner.d-flex.align-items-center.justify-content-center
						div.close-btn
							i.icon-close
						div.row.d-flex.justify-content-center
							div.col-md-8
								form(method="GET" action="#")
									div.form-group
										input(type="search" name="search" id="search" placeholder="What are you looking for?")
										button(type="submit" class="submit")
											i.icon-search-1
				div.container
					div.navbar-header.d-flex.align-items-center.justify-content-between
						a(href="/").navbar-brand
							img(src="/img/logo.png").main-logo
						button(ype="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler")
							span
							span
							span
					div#navbarcollapse.collapse.navbar-collapse
						ul.navbar-nav.ml-auto
							li.nav-item
								a(href="/").nav-link Головна
							if user && (user.roles.includes('SuperAdmin') || user.roles.includes('Admin'))
								li.nav-item.dropdown
									a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")#navbarDropdownMenuLink.nav-link.dropdown-toggle Новини
									div(aria-labelledby="navbarDropdownMenuLink").dropdown-menu
										a(href="/posts").dropdown-item Переглянути
										a(href="/posts/new").dropdown-item Додати
							else
								li.nav-item
									a(href="/posts").nav-link Новини
							li.nav-item
								a(href="/gallery").nav-link Галерея
							li.nav-item
								a(href="#").nav-link Contact
						div.navbar-text
							a(href="#").search-btn
								i.icon-search-1
		
		block content
		include main-footer.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/jquery.cookie/jquery.cookie.js")
		script(src="/fancybox/jquery.fancybox.min.js")
		script(src="/js/front.js")
		script(src="/js/map.js")
		script(src="/js/masonry-initaliser.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpnRZvPH5z-eSnSJah9xMW0c53MDQdoj0&callback=initMap" async defer)