footer.main-footer
	div.container
		div.row
			div.col-md-6
				div.logo
					h6.text-white Контактна інформація
				div.contact-details
					p 13341, Мирославка, Житомирська область
					p Телефон: 04143 64372
					p Електронна скринька: 
						a(href="mailto:vadosik.chumack@gmail.com") vadosik.chumack@gmail.com
			div.col-md-6
				div.menus.d-flex
					ul.list-unstyled
						li
							a(href="/").nav-link Головна
						li
							a(href="/posts").nav-link Новини
						li
							a(href="#").nav-link Post
						li
							a(href="#").nav-link Contact
	div.copyrights
		div.container
			div.row
				div.col-md-6
					p &copy; 2017. All rights reserved.