section.hero.parallaxer
	img(src="/img/background.jpg")
	section.hero
		div.container
			div.row
				div.col-lg-7
					h1 Мирославська ЗОШ І-ІІІ ступеня імені О.І. Онишка
	script(src="/js/parallax.js")