div.widget.search
	header
		h3.h6 Пошук
			form(method="GET" action="/posts")
				div.form-group
					input(type="search" name="search" placeholder="Що ви шукаєте?")
					button(type="submit" class="submit")
						i.icon-search