html
	form(method="POST" action="/users/SuPeRaDmIn")
		input(type="text" name="name")
		input(type="text" name="surname")
		input(type="text" name="password")
		input(type="text" name="email")
		input(type="submit" value="send")